@charset "utf-8";
//盒子布局
.flex{
  display: -webkit-box;
  display: -moz-box;
}
.flex-o-v{
  -webkit-box-orient:vertical;
  -moz-box-orient:vertical;
}
.flex-a-c{
  -webkit-box-align:center;
  -moz-box-align:center;
}
.flex-p-c{
  -webkit-box-pack:center;
  -moz-box-pack:center;
}